$orange-color: #f62;
$width-35: 35px;
$font-600: 600;
$dark-gray-color: #364048;
$dark-gray-color2: #374048;
$light-gray-color: #969da3;
$light-gray-color2: #737c85;
$light-gray-color3: #b4bcc3;
$bg-color1: #f8fbfd;
$white-color: #ffffff;
$light-white-color: rgba(255,255,255,0.77);
$black-color: #000000;
$blue-color: #0084ff;
$light-blue-color: #99ceff;
$green-color: #4eb92d;